<!-- footer part start-->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4 mb-md-0">

                <a class="text-white font-weight-bold " href="#">

                    <img class="mb-3" style="font-size: 0.6rem; letter-spacing: 5px; color: var(--accent-gold);"
                        src="./assets/img/logotipo.png" alt="" srcset="">
                </a>

                <p class="small">A nossa história é marcada pela resiliência, pela capacidade de reinvenção e pelo
                    compromisso em promover a saúde financeira e o crescimento sustentável dos nossos clientes.</p>
                <div class="social-links mt-3">
                    <a href="#" class="text-muted mr-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-muted mr-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-muted mr-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-muted"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-4 col-6 mb-4 mb-md-0">
                <h5>Nossos Serviços</h5>
                <ul>
                    <li><a href="#">Consultoria e Gestão Empresarial</a></li>
                    <li><a href="#">Contabilidade e Fiscalidade</a></li>
                    <li><a href="#">Auditoria e Controlo</a></li>
                    <li><a href="#">Recursos Humanos e Formação</a></li>
                    <li><a href="#">Assessoria e Serviços Empresariais</a></li>
                    <li><a href="#">Marketing e Soluções Tecnológicas</a></li>
                </ul>
            </div>

            <div class="col-md-2 mb-4 mb-md-0">
                <h5>Company</h5>
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Consultoria</a></li>
                    <li><a href="#">Formação Profissional</a></li>
                    <li><a href="#">Portfólio</a></li>
                    <li><a href="#">Artigo e Notícias</a></li>
                    <li><a href="#">A Instituição</a></li>
                    <li><a href="#">Contacto</a></li> 
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Newsletter</h5>
                <p class="small">Assine nossa newsletter para guardamos osseu dado e enviamos notícias, informações e promoções...</p>
                <div class="input-group mb-3">
                    <input type="email" class="form-control bg-light text-dark border-0" placeholder="Email"
                        style="border-radius: 4px 0 0 4px;">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" style="border-radius: 0 4px 4px 0;">Inscrever-se</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-md-flex justify-content-between text-center text-md-left">
            <p class="mb-2 mb-md-0">© 2026 FinanceWell. Todos os direitos reservados. Desenvolvido por <strong><a href="https://h-jlsystem.com/#/" target="_blank" rel="noopener noreferrer">JLSystem - Soluções Tecnológicas</a> </strong>.</p>
            <div>
    <a href="#" class="text-muted mr-3">Termos de Serviço</a>
<a href="#" class="text-muted mr-3">Política de Privacidade</a>
<a href="#" class="text-muted">Política de Cookies</a>
            </div>
        </div>
    </div>
</footer>
<!-- footer part end-->